/* Font definition */
@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-display: swap;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-display: swap;
}

/* Global reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
}

a{
  color: inherit;
  text-decoration: none;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

h1,
h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
}

h3{
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  letter-spacing: 1px;
  color: #444;
}


p{
  font-size: 14px;
  font-weight: 100;
  line-height: 25px;
}

footer{
  background-color: #000;
  color: #fff;
  padding: 32px 16px;
}

/* Helper classes */
.d-block{
  display: block;
}

.d-none{
  display: none;
}

.d-flex{
  display: flex;
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.pos-abs{
  position: absolute;
}

.pos-rel{
  position: relative;
}

.text-center{
  text-align: center;
}

/* Page styles */
.header{
  margin-bottom: 20px;
}

.logo{
  margin-top: 15px;
}

.hamburger-icon{
  width: 30px;
  height: 25px;
  transform: rotate(0deg);
  transition: .5s;
  margin: 30px 30px 0 0;
}

.hamburger-icon > span{
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s;
}

.hamburger-icon > span:nth-child(2),
.hamburger-icon > span:nth-child(3){
  top: 9px;
}

.hamburger-icon > span:nth-child(4){
  top: 18px;
}

.hamburger-icon.open > span:nth-child(1),
.hamburger-icon.open > span:nth-child(4){
  top: 18px;
  width: 0;
  left: 50%;
}

.hamburger-icon.open > span:nth-child(2){
  transform: rotate(45deg);
}

.hamburger-icon.open > span:nth-child(3){
  transform: rotate(-45deg);
}

.main-menu{
  font-size: 13px;
  letter-spacing: 2px;
}

.ifc-down4{
  transition: .4s;
}

.whatsapp-icon{
  width: 35px;
  margin-top: -10px;
  margin-left: 5px;
}

.sub-menu{
  max-height: 0;
  overflow: hidden;
  transition: .4s;
  background-color: #fff;
}

.common-banner{
  background-color: #000;
  color: #fff;
  padding: 12vh 0;
}

.main-section{
  min-height: 50vh;
  padding: 40px 20px;
}

.main-section p{
  margin-top: 25px;
}

.headline-icon{
  margin-right: 10px;
}

.common-banner-text{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  color: #aaa;
}

.services-section > li{
  margin: 50px 0;
  padding: 0 25px;
}

.services-icon:hover{
  background-color: #000;
  color: #fff;
}

.services-link:hover{
  text-decoration: underline;
}

.services-icon{
  display: inline-block;
  font-size: 50px;
  border: solid 1px;
  padding: 50px;
  border-radius: 100px;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 25px;
  transition: .4s;
}

.services-text{
  max-width: 300px;
  margin: 20px auto 0;
}

.why-us-section .slick-dots{
  bottom: 0;
}

.why-us-section .slick-dots button:before{
  font-size: 26px;
  color: #777;
  opacity: 1;
}

.why-us-section .slick-dots .slick-active button:before{
  color: #fff;
  opacity: 1;
}

.why-us-text{
  padding: 32px 16px;
  font-size: 18px;
  letter-spacing: .5px;
  text-align: justify;
}

.why-us-text p{
  margin-top: 25px;
}

.why-us-carousel img{
  margin: 0 auto;
}

.why-us-carousel .slick-slide{
  outline: 0;
}

.client-list-section{
  padding: 0 12px;
}

.client-logos{
  display: flex;
  flex-wrap: wrap;
}

.client-logos img{
  width: 50%;
}

.address-block p{
  margin-top: 10px;
}

.services-wrapper{
  padding: 40px 15px;
}

.services-wrapper .image-section,
.services-wrapper .text-section{
  padding: 12px 0;
}

.services-wrapper .title{
  margin: 12px 0;
}

.services-wrapper li{
  list-style: initial;
  margin-left: 20px;
}

.blog-wrapper,
.blog-page-wrapper{
  text-align: left;
}

.homepage-blog-section{
  padding: 16px;
}

.homepage-blog-section h5,
.blog-page-wrapper h5{
  margin: 15px 0;
  letter-spacing: 2px;
}

.blog-wrapper .blog-article{
  margin-bottom: 50px;
}

.blog-wrapper .blog-title{
  margin: 10px 0 25px;
}

.blog-wrapper .blog-button{
  background: #666;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 12px;
  transition: .4s;
}

.blog-wrapper .blog-button:hover{
  border-radius: 20px;
}

.blog-article-wrapper{
  padding: 5px 10px 25px;
  background-color: #eee;
  margin-top: -5px;
}

.get-in-touch-heading{
  margin-top: 50px;
}

.contact-us-wrapper iframe{
  /* Overriding Contact Us form iFrame styles */
  height: 550px!important;
}

.contact-us-wrapper .contact-address{
  margin: 30px 0;
}

.footer-logo{
  margin: 50px auto;
}

.social-media-icons{
  margin-top: 20px;
  font-size: 24px;
}

.social-media-icons a{
  margin-right: 16px;
}

.privacy-policy-link{
  margin-top: 20px;
}

.privacy-policy-section{
  text-align: justify;
}

.privacy-policy-section h2{
  margin: 30px 0 5px;
}

.privacy-policy-section h4{
  margin: 15px 0 2px;
}

.privacy-policy-section h5{
  margin-bottom: 10px;
  letter-spacing: 1px;
}

/* Mobile view */
@media only screen and (max-width: 1023px){
  .desktop-only{
    display: none;
  }

  .main-nav{
    max-height: 0;
    overflow: hidden;
    transition: .4s;
  }

  .main-nav.open{
    max-height: 800px;
  }

  .menu-item{
    border-top: solid 1px #ddd;
  }

  .menu-item.open .sub-menu{
    max-height: 500px;
  }

  .menu-item.open .ifc-down4{
    transform: rotate(180deg);
  }

  .menu-link{
    padding: 20px 30px;
  }

  .sub-menu .menu-link{
    padding-left: 50px;
  }
}


/* Tablet view */
@media only screen and (min-width: 768px){
  footer{
    padding: 50px 20px;
  }

  .services-section{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  .services-section > li{
    width: 50%;
  }

  .main-section{
    max-width: 1000px;
    margin: 0 auto;
  }

  .services-wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .services-wrapper .image-section,
  .services-wrapper .text-section{
    width: 50%;
    margin: 0 10px;
  }

  .services-wrapper .image-section{
    text-align: center;
  }

  .contact-us-wrapper{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
  }

  .contact-us-wrapper .contact-address{
    margin: 40px 30px 0 30px;
  }

  .footer-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-wrapper > *{
    width: 30%;
  }

  .footer-logo{
    margin: 0;
  }
}

/* Desktop view */
@media only screen and (min-width: 1024px){
  .mobile-only{
    display: none;
  }

  .header{
    position: absolute;
    top: 0;
    left: 50px;
  }

  .main-nav{
    width: 75%;
    min-height: 70px;
    margin: 50px 50px 0 auto;
  }

  .main-menu{
    display: flex;
    justify-content: flex-end;
  }

  .main-menu > .menu-item{
    margin: 0 25px;
  }

  .main-menu > .menu-item > .menu-link{
    font-size: 14px;
    padding: 5px;
    transition: .4s;
  }

  .main-menu > .menu-item > .menu-link:hover{
    color: #888;
  }

  .sub-menu{
    position: absolute;
    margin-left: -15px;
    padding-top: 10px;
  }

  .sub-menu > .menu-item{
    border: solid 1px #eee;
    transition: .4s;
  }

  .sub-menu .menu-item:not(:last-child){
    border-bottom: 0;
  }

  .sub-menu > .menu-item:hover{
    background-color: #000;
    color: #fff;
    border-color: transparent;
  }

  .ifc-down4{
    display: none;
  }

  .menu-item.has-sub-menu:hover .sub-menu{
    max-height: 500px;
  }

  .sub-menu .menu-link{
    padding: 15px 20px;
  }

  .hero-banner img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: 0 40%;
  }

  .services-section > li{
    width: 25%;
  }

  .blog-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
  }

  .homepage-blog-section{
    margin: 0 auto;
    padding: 50px 0 70px;
  }

  .blog-wrapper .blog-article{
    margin: 0 18px 25px;
    width: calc(33.33% - 36px);
  }

  .why-us-section{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    max-width: 1280px;
    margin: 50px auto;
  }

  .why-us-text,
  .why-us-carousel{
    width: 48%;
    padding: 0;
  }

  .why-us-carousel img{
    margin-right: 0;
  }

  .why-us-section .slick-dots{
    width: 94%;
    right: 0;
    bottom: 5px;
  }

  .client-list-section{
    max-width: 1200px;
    margin: 0 auto;
  }

  .client-logos img{
    width: 16.66%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: .2s;
  }

  .client-logos img:hover{
    filter: grayscale(0);
  }
}