body,div,span,h1,h2,h3,h4,h5,h6,img,a,html,ul,ol,li{
	margin:0;padding:0;list-style:none;border:0 none;outline:0 none;
}

h1{
	font: 42px Adelle;
}

h2{
	font: 40px Adelle;
}

h3{
	font: 20px Adelle;
}

h4{
	font: 14px Adellesans;
	color: #666;
}

.typing-effect{
	visibility: visible !important;
	white-space:nowrap;
	overflow:hidden;
	-webkit-animation: typing 3s steps(75, end);
	-moz-animation: typing 3s steps(75, end);
}

@-webkit-keyframes typing {
	from {width:0}
	to {width:100%}
}

@-moz-keyframes typing {
	from {width:0}
	to {width:100%}
}

.teaser-home-page{
	height:100%;
	overflow: hidden;
}

.teaser-home-page > *{
	height: 100%;
	overflow: hidden;
}

.teaser-home-page h1{
	font: 80px Adelle;
}

.teaser-home-page h2 {
    font: 30px Adelle;
}

.teaser-home-page h3{
	font: 18px AdelleSans;
}

.teaser-home-page > .teaser-header > .loading-image{
	margin: 25% auto;
	width: 25px;
	display: block;
}

.teaser-home-page > .teaser-header > .logo-black{
	width: 0%;
	margin: 0 auto;
	display: block;
	opacity: 0;
	position: relative;
}

.teaser-home-page > .teaser-header > a > .logo{
	opacity: 0;
    margin-top: 5%;
    position: fixed;
}

.teaser-home-page > .teaser-header > .menu-bar{
	visibility: hidden;
	opacity: 0;
	margin-left: 10%;
	position: fixed;
}

.teaser-home-page > .teaser-header > .teaser-background-image{
	opacity: 0;
	position: fixed;
}

.teaser-header > a > .logo{
	position: absolute;
	margin-left: 5%;
	-webkit-filter: drop-shadow(0px 0px 2px #333);
	filter: drop-shadow(0px 0px 2px #333);
	width: 200px;
	z-index: 9999;
}

.teaser-header > .menu-bar{
	margin: 7% 0% 0% 18%;
	position: absolute;
	width: 80%;
    text-align: center;
    z-index: 9999;
}

.teaser-header > .menu-bar > li{
	display: inline-block;
	margin: 0% 1% 2% 3%;
	white-space:nowrap;
}

.teaser-header > .menu-bar > li > a{
	text-decoration: none;
	color: #AECA31;
	padding: 5% 8%;
	border-radius: 25px;
	font: 26px calibri;
	letter-spacing: -1px;
	transition: .4s;
	font-weight: 100;
}

.teaser-header > .menu-bar > li > .active{
	background-color: #AECA31; 
	color: #fff;
}

.teaser-header > .menu-bar > li > .blue-active{
	background-color: #31B6B8 !important; 
	color: #fff !important;
}

.teaser-header > .menu-bar > li:nth-last-child(2) > a{
	color:#31B6B8;
	font-weight: 400;
}

.teaser-header > .menu-bar > li:last-child > a{
	padding: 5% 20% 5% 18%;
}

.teaser-header > .menu-bar > li > a:hover{
	background-color: #AECA31; 
}

.teaser-header > .menu-bar > li:hover > a{
	color: #fff;
}

.teaser-header > .menu-bar > li:nth-last-child(2) > a:hover{
	background-color:#31B6B8;
	color: #fff;
}

.teaser-header > .menu-bar > li:last-child > a:hover{
	cursor: help;
}

.teaser-header > .text-content{
	display: inline-block;
	margin-top: 23%;
	width: 100%;
}

.teaser-header > .text-content > h2{
	color: #fff;
	visibility: hidden;
	margin-left: 7%;
}

.teaser-header > .text-content > h3{
	color: #fff;
	opacity: 0;
	margin: 3% auto 2% auto;
	line-height: 270%;
	width: 90%;
	text-align: center;
	transition: 4s;
}

.teaser-home-page .click-down{
	text-align: center;
	color: #fff;
	padding: 1.5% 0% 1% 0%;
	background-color: #AECA31;
	font: 20px Adelle;
	border-radius: 50% 50% 0% 0%;
	cursor: pointer;
	opacity: 0;
	position: absolute;
	width: 100%;
	transition: .6s;
}

.teaser-home-page .click-down:hover{
	background-color: #31B6B8;
}

.teaser-home-page .click-down > var{
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	display: inline-block;
	margin-left: 1%;
}


.teaser-header > .text-content > .click-down{
	bottom: 0%;
}

.teaser-header > .teaser-background-image{
	width: 100%;
	height: 100%;
	background: url('../images/banners/1.jpg') center no-repeat;
	transition: 1.5s;
	background-size: cover;
	position: absolute;
	top: 0px;
	z-index: -1;
	-webkit-filter: brightness(80%);
	filter: brightness(80%);
}

.teaser-door{
	text-align: center;
	z-index: 1;
	background: #fff;
}

.teaser-door > .door-open{
	width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.teaser-door > .door-open > .door-panel{
	height: 100%;
	transform: skew(-45deg);
	border-radius: 50px;
}

.teaser-door > .door-open > .left-door{
	width: 74%;
    background-color: #31B6B8;
    float: left;
    margin-left: -25%;
}

.teaser-door > .door-open > .right-door{
	width: 75%;
	background-color: #AECA31;
	display: block;
	margin-left: 50%;
}

.teaser-door > h1{
	position: relative;
	color: #fff;
	width: 100%;
	padding-top: 16%;
	transition: 2s;
}

.teaser-door > h3{
	margin: 1% auto 2% auto;
	width: 70%;
	opacity: 0;
	line-height: 200%;
	transition: 2s;
}

.teaser-door > .click-down{
	bottom: -100%;
}

.teaser-ethics{
	color: #fff;
	text-align: center;
}

.teaser-ethics > h2{
	font-family: AdelleBold;
	display: inline-block;
	width: 33%;
	opacity: 0;
	margin-top: 20%;
}

.teaser-ethics > h3{
	line-height: 200%;
	width: 85%;
	margin: 5% auto 0% auto;
	overflow: hidden;
	height: 0%;
}

.teaser-ethics > .click-down{
	bottom: -200%;
}

.seize-the-moment{
	background-color: #fff;
}

.seize-the-moment > .wrapper{
	width: 60%;
	background-color: #AECA31;
	text-align: center;
	border-radius: 15px;
	padding: 3%;
	color: #fff;
	transition: .8s;
	margin: 0 auto;
	position: relative;
	top: 35%;
}

.seize-the-moment > .wrapper:hover{
	background-color: #31B6B8;
}

.seize-the-moment > .wrapper > h3{
	letter-spacing: 2px;
	margin-top: 5%;
	line-height: 250%;
}

.seize-the-moment > .wrapper > h3 > a{
	color: #fff;
	transition: .4s;
}

.seize-the-moment > .wrapper > h3 > a:hover{
	color: #000;
}

.teaser-header > .wrapper{
	margin: 20% 0% 3% 3%;
	display: inline-block;
}

.teaser-header > .wrapper > h1{
	color: #fff;
}

.teaser-header > .wrapper > h2{
	color: #AECA31;
}

.teaser-header > .wrapper > h3{
	margin-top: 1%;
	color: #fff;
}

.teaser-borrower-page > .borrower-quotation{
	background-color: #404349;
	padding: 3% 12%;
}

.teaser-borrower-page .light-box, .teaser-partner-page .light-box{
	position: fixed;
	top:0;
	left: 0; 	
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
	z-index: 99;
	display: none;
}

.teaser-borrower-page .message-box, .teaser-partner-page .message-box{
	width: 70%;
	max-height: 70%; 
	position: fixed;
	top: 10%;
	left: 12%;
	z-index: 100;
	background-color: #fff;
	border-radius: 5px;
	padding: 3%;
	border: solid 5px #AECA31;
	overflow: auto;
	display: none;
}

.teaser-borrower-page .message-box h2, .teaser-partner-page .message-box h2{
	margin: 3% auto;
	display: block;
	width: 80%;
	text-align: center;
}

.teaser-borrower-page .message-box .close-button, .teaser-partner-page .message-box .close-button{
	position: absolute;
	right: 5%;
	top: 5%;
	font: 25px AdelleSans;
	cursor: pointer;
	color: #F00000;
}

.teaser-borrower-page .message-box h3{
	margin: 3% auto;
	width: 90%;
	text-align: center;
}

.teaser-borrower-page .message-box ul > li{
	font: 14px AdelleSans;
	text-align: justify;
}

.teaser-borrower-page .message-box ul > li > b {
	font-size: 16px;
	display: block;
	margin:1% 0%;
}

.teaser-borrower-page .message-box ul > li > b > u{
	font-size: 18px;
}

.teaser-borrower-page .message-box .cancel-link, .teaser-partner-page .message-box .cancel-link{
	float: right;
	margin: 25px 50px 0px 0px;
	text-decoration: underline;
	cursor: pointer;
}

.teaser-borrower-page .message-box > ol > li, .teaser-partner-page .message-box > ol > li{
	list-style: decimal;
	font: 20px AdelleSans;
	margin-left: 18%;
	line-height: 50px;
	color: #333;
}

.teaser-borrower-page > .borrower-quotation > .wrapper{
	background-color: #F5F5F6;
	padding-bottom: 52%;
}

.teaser-borrower-page > .borrower-quotation > .wrapper > nav{
	background-color: #E7E7E7;
	font: 18px calibri;
	color: #333;
	padding-top: 20px;
	cursor: pointer;
	transition: .4s;
	height: 45px;
	display: inline-block;
	width: 33%;
	outline: solid 1px #ccc;
	margin-top: 1px;
}

.borrower-quotation > .wrapper > nav.segment-one-heading{
	margin-left: 1px;
}

.borrower-quotation > .wrapper > nav.active-segment-heading{
	background-color: #F5F5F6;
	outline-color: #F5F5F6;
}

.borrower-quotation > .wrapper > nav.active-segment-heading:hover{
	background-color: #F5F5F6 !important;
	outline-color: #F5F5F6 !important;
	color: #333 !important;
	cursor: default;
}

.borrower-quotation > .wrapper > nav:hover{
	background-color: #aaa !important;
	outline-color: #aaa !important;
	color: #fff !important;
}

.borrower-quotation > .wrapper > nav > var{
	float: left;
	margin: 0% 5% 0% 8%;
}

.borrower-quotation > .wrapper > .segment-one-heading > var{
	width: 29px;
	height: 24px;
	background: url('../images/sprite.png') -24px -20px;
}

.borrower-quotation > .wrapper > .segment-two-heading > var{
	width: 31px;
	height: 28px;
	background: url('../images/sprite.png') -124px -17px;
}

.borrower-quotation > .wrapper > .segment-three-heading > var{
	width: 32px;
	height: 22px;
	background: url('../images/sprite.png') -75px -22px;
}

/*
.borrower-quotation > .wrapper > nav:nth-child(4) > var{
	width: 30px;
	height: 30px;
	background: url('../images/sprite.png') -169px -15px;
}
*/

.borrower-quotation > .wrapper > nav > .content{
	position: absolute;
	color: #666;
	font-family: Adellesans;
	left: 25%;
	display: none;
}

.borrower-quotation > .wrapper > nav > .content > hr {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	border-color: #31B6B8;
	width: 110%;
	position: absolute;
	margin-left: -58%;
	margin-top: 54%;
	border-top: 0px;
}

.borrower-quotation > .wrapper > nav > .segment-one-contents{
	display: block;
	margin-top: 6%;
}

.borrower-quotation > .wrapper > nav > .segment-two-contents{
	margin-top: 4%;
}

.borrower-quotation > .wrapper > nav > .segment-two-contents:nth-of-type(1){
	left: 14%;
	width: 38%;
	text-align: justify;
}

.borrower-quotation > .wrapper > nav > .segment-two-contents:nth-of-type(2){
	left: 54%;
	width: 32%;
	text-align: justify;
}

.borrower-quotation > .wrapper > nav > .segment-three-contents{
	left: 25%;
	width: 50%;
	margin-top: 7%;
}

.borrower-quotation > .wrapper > nav > .segment-three-contents > span{
	text-align: justify;
	line-height: 25px !important;
	font-size: 15px !important;
}

.borrower-quotation > .wrapper > nav > .content > h3{
	color: #333;
}

.borrower-quotation > .wrapper > nav > .content > span{
	margin-top: 2%;
	font-size: 13px;
	line-height: 18px;
	display: block;
}

.borrower-quotation > .wrapper > nav > .content > u, .borrower-quotation > .wrapper > nav > .content > b{
	margin: 6% 0% 6% 0%;
	display: block;
	font-size: 14px;
	color: #444;
}

.borrower-quotation > .wrapper > nav > .content > b{
	margin: 2% 0% 2% 0%;
}

.borrower-quotation > .wrapper > nav > .content > u > b{
	cursor: pointer;
}

.borrower-quotation > .wrapper > nav > .content > ol > li{
	margin-top: 8px;
	font-size: 14px;
}

.borrower-quotation > .wrapper > nav > .content > ol > li > var{
	height: 10px;
	background: url('../images/sprite.png') -257px -26px;
	float: left;
	padding-left: 20px;
	margin: 0px 12px 12px 0px;
}

.teaser-borrower-page > .borrower-steps,
.teaser-investor-page > .investor-steps{
	background-color: #F0F0F0;
	padding: 5%;
	text-align: center;
	display: inline-block;
}

.borrower-steps > span, .investor-steps > span{
	font: 16px Adellesans;
	margin: 1% 0% 4% 0%;
	display: block;
}

.borrower-steps > .block{
	display: inline-block;
	width: 14%;
	padding: 0% 4%;
	vertical-align: top;
}

.borrower-steps > .block > *, .investor-steps > .block > * {
	display: block;
}

.borrower-steps > .block > var, .investor-steps > .block > var{
	margin: 0 auto;
}

.borrower-steps > div:first-of-type > var{
	width: 60px;
	height: 75px;
	background: url('../images/sprite.png') -14px -80px;
}

.borrower-steps > div:nth-of-type(2) > var{
	width: 60px;
	height: 75px;
	background: url('../images/sprite.png') -90px -80px;
}

.borrower-steps > div:nth-of-type(3) > var{
	width: 95px;
	height: 87px;
	background: url('../images/sprite.png') -180px -65px;
	margin-top: -5%;
}

.borrower-steps > div:nth-of-type(4) > var{
	width: 90px;
	height: 75px;
	background: url('../images/sprite.png') -299px -88px;
	margin-top: 2%;
}

.borrower-steps > .block > .heading, .investor-steps > .block > .heading{
	font: 16px AdellesansBold;
	margin-top: 15%;
}

.borrower-steps > .block > .duration, .investor-steps > .block > .duration{
	font: 24px Adellesans;
	color: #AECA31;
	margin: 15px 0px;
}

.borrower-steps > .block > .description, .investor-steps > .block > .description{
	font: 13px Adellesans;
	color: #888;
	line-height: 18px;
}

.borrower-steps > .arrow-img{
	width: 25px;
	height: 50px;
	background: url('../images/sprite.png') -216px 0px;
	display: inline-block;
}

.teaser-borrower-page > .borrower-details{
	padding: 3% 15%;
}

.teaser-borrower-page > .borrower-details > ul > li, .investor-details > ul > li{
	display: inline-block;
	border-bottom: solid 1px #ccc;
}

.teaser-borrower-page > .borrower-details > ul > li:last-child, .investor-details > ul > li:last-child{
	border: none;
}

.teaser-borrower-page > .borrower-details > ul > li > h3, .investor-details > ul > li > h3{
	float: left;
	width: 23%;
	padding: 3% 0%;
	color: #666;
}

.teaser-borrower-page > .borrower-details > ul > li > h4, .investor-details > ul > li > h4{
	float: left;
	width: 70%;
	padding: 3% 0% 3% 6%;
	line-height: 23px;
}

.teaser-footer{
	padding: 3% 10%;
	background-color: #404349;
	text-align: center;
	color: #ccc;
	position: absolute;
    width: 80%;
}

.teaser-footer > .top > span{
	display: inline-block;
	width: 30%;
	font: 18px Adellesans;
}

.teaser-footer > .top > span:first-child{
	font-family: Adelle;
}

.teaser-footer > .top > span:nth-child(2) > a{
	color: #AECA31;
}

.teaser-footer > .bottom{
	margin: 3% auto 0% auto;
	width: 60%;
}

.teaser-footer > .bottom > li{
	display: inline-block;
	font: 14px Adellesans;
	width: 20%;
}

.teaser-footer > .bottom > li > a{
	text-decoration: none;
	color: #fff;
}

.teaser-footer > .bottom > li >a:hover{
	text-decoration: underline;
}

.teaser-investor-page > .investor-steps{
	width: 90%;
	background-color: #E6E6E6;
	padding: 7% 5%;
}

.investor-steps > h2{
	margin-bottom: 7%;
}

.investor-steps > .block{
	width: 16%;
	padding: 0% 7%;
	display: inline-block;
	vertical-align: top;
}

.investor-steps > div:first-of-type > var{
	width: 60px;
	height: 80px;
	background: url('../images/sprite.png') -408px -75px;
}

.investor-steps > div:nth-of-type(2) > var{
	width: 95px;
	height: 94px;
	background: url('../images/sprite.png') -477px -70px;
}

.investor-steps > div:nth-of-type(3) > var{
	width: 80px;
	height: 80px;
	background: url('../images/sprite.png') -583px -75px;
}

.investor-steps > .invest-button, .borrower-steps > .borrow-button, .teaser-aboutus-page > .investor-details > a{
	background-color: #31B6B8;
	font: 14px AdellesansBold;
	border-radius: 7px;
	transition: .4s;
	color: #333;
	padding: 1.5% 0%;
	width: 25%;
	display: block;
	text-decoration: none;
	margin: 7% auto 0% auto;
}

.investor-steps > .invest-button:hover, .borrower-steps > .borrow-button:hover, .teaser-aboutus-page > .investor-details > a:hover{
	background-color: #AECA31;
	color: #fff;
}

.investor-steps > .arrow-img{
	width: 20px;
	height: 35px;
	background: url('../images/sprite.png') -317px -10px;
	display: inline-block;
	margin-top: 2%;
}

.teaser-investor-page > .investor-question, .teaser-aboutus-page > .investor-question{
	background-color: #F7F7F7;
	padding: 4% 15%;
}

.teaser-investor-page > .investor-question > h3, .teaser-aboutus-page > .investor-question > h3{
	font-size: 18px;
	color: #666;
}

.teaser-investor-page > .investor-question > p, .teaser-aboutus-page > .investor-question > p{
	font: 16px Adellesans;
	color: #666;
	line-height: 25px;
	margin: 20px 0px 0px 0px;
}

.teaser-investor-page > .investor-details, .teaser-aboutus-page > .investor-details{
	padding: 2% 15% 1% 15%;
	border-bottom: solid 1px #ccc;
	background-color: #fff;
}

.investor-details > ul > li > h3{
	width: 20% !important;
}

.investor-details > ul > li > h4{
	width: 73% !important;
	padding: 2.5% 0% 2.5% 6%;
}

.teaser-investor-page > .investor-comparison{
	padding: 4% 10%;
	text-align: center;
	height: 100%;
}

.investor-comparison > ul{
	display: inline-block;
	vertical-align: top;
}

.investor-comparison > ul > li:first-child{
	font: 30px Adelle;
	color: #333;
}

.investor-comparison > ul > li > h3{
	padding: 2% 15%;
	font: 16px AdelleSans;
	line-height: 25px;
	color: #666;
	line-height: 30px;
}

.investor-comparison > .left{
	text-align: right;
}

.investor-comparison > .center{
	text-align: center;
	width: 15%;
}

.investor-comparison > .center > span{
	font: 50px Adellesans;
	color: #ccc;
	font-weight: 600;
}

.investor-comparison > .center > div{
	font: 50px Adelle;
	background-color: #AECA31;
	border-radius: 80%;
	width: 40%;
	margin: 25% auto;
	color: #333;
}

.investor-comparison > .center> hr{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	border-color: #31B6B8;
    width: 50%;
}

.investor-comparison > .center> button{
	width: 215%;
	height: 50px;
	background-color: #fff;
	border: solid 2px #31B6B8;
	margin: 20% -100% 0% -100%;
	border-radius: 10px;
	font: 14px Adellesansbold;
	cursor: pointer;
	color: #333;
	transition: .4s;
}

.investor-comparison > .center> button:hover{
	background-color: #31B6B8;
	color: #fff;
	border-color: #fff;
}

.investor-comparison > .right{
	text-align: left;
}

.teaser-partner-page > .partner-types{
	margin-top: 4%;
	padding-bottom: 2%;
	background-color: #fff;
}

.partner-types > ul{
	overflow: hidden;
}

.partner-types > ul > li{
	float: left;
	border: solid 1px #ccc;
	width: 25%;
	padding: 2% 0%;
	text-align: center;
	background-color: #E3E9CC;
	margin: -1px;
}

.partner-types > ul > li > var{
	width: 25px;
	height: 20px;
	background: url('../images/sprite.png') -347px -22px;
	float: left;
	margin-left: 12%;
}

.partner-types > ul > li > h3{
	float: left;
	margin-left: 2%;
}

.partner-types > h2{
	padding-top: 5%;
	text-align: center;
}

.partner-types > ol{
	text-align: center;
}

.partner-types > ol > li{
	display: inline-block;
	width: 17%;
	text-align: center;
	background-color: #31B6B8;
	margin: 5% 1%;
	border-radius: 10px;
}

.partner-types > ol > li > a{
	padding: 15% 4%;
	text-decoration: none;
	display: block;
	color: #000;
	transition: .5s;
	border-radius: 10px;
}

.partner-types > ol > li:hover > a{
	background-color: #AECA31;
	color: #fff;
}

.partner-types > ol > li:first-child > a > var{
	width: 80px;
	height: 80px;
	background: url('../images/sprite.png') 267px 167px;
	display: block;
	margin: 0 auto;
}

.partner-types > ol > li:nth-child(2) > a > var{
	width: 80px;
	height: 80px;
	background: url('../images/sprite.png') 263px 95px;
	display: block;
	margin: 0 auto;
}

.partner-types > ol > li:nth-child(3) > a > var{
	width: 80px;
	height: 80px;
	background: url('../images/sprite.png') 192px 167px;
	display: block;
	margin: 0 auto;
}

.partner-types > ol > li:nth-child(4) > a > var{
	width: 80px;
	height: 80px;
	background: url('../images/sprite.png') 177px 90px;
	display: block;
	margin: 0 auto;
}

.partner-types > ol > li > a > h3{
	margin: 5% 0% 7% 0%;
}

.partner-types > ol > li > a > h4{
	width: 90%;
	margin: 0 auto;
	transition: .6s;
}

.partner-types > ol > li:hover > a > h4{
	color: #fff;
}

.teaser-partner-page > .partner-reasoning{
	padding-top: 4%;
	background-color: #F0F0F0;
}

.partner-reasoning > h2{
	text-align: center;
}

.partner-reasoning > .buttons{
	display: block;
	margin: 0 auto;
	text-align: center;
}

.partner-reasoning > .buttons > span{
	width: 28%;
	display: inline-block;
	margin: 3% 2%;
}

.partner-reasoning > .buttons > span > a{
	display: block;
	color: #000;
	text-decoration: none;
	padding: 4% 0%;
	background-color: #fff;
	border-radius: 10px;
	transition: .4s;
	border: solid 2px #31B6B8;
	font: 14px AdelleSansBold;
}

.partner-reasoning > .buttons > div{
	width: 28%;
	display: inline-block;
	padding: 1%;
	background-color: #fff;
	border-radius: 10px;
	transition: .4s;
	border: solid 2px #31B6B8;
	font: 14px AdelleSansBold;
	cursor: pointer;
}

.partner-reasoning > .buttons > div:hover,
.partner-reasoning > .buttons > span:hover > a{
	background-color: #31B6B8;
	color: #fff;
}

.partner-reasoning > .customer-review{
	background-color: #fff;
	margin-top: 2%;
	padding: 2% 15% 4% 15%;
	font: 20px AdelleSans;
	color: #666;
}

.partner-reasoning > .customer-review > var{
	width: 140px;
	height: 140px;
	float: left;
	background: url('../images/sprite.png') -10px 163px;
	margin-right: 2%;
	border-radius: 60%;
}

.partner-reasoning > .customer-review > p{
	margin-top: 3%;
}

.partner-reasoning > .commision-matrix{
	background-color: #AECA31;
	padding: 2% 15%;
	text-align: center;
}

.partner-reasoning > .commision-matrix > var{
	width: 75px;
	height: 60px;
	background: url('../images/sprite.png') -167px -168px;
	display: block;
	margin: 0 auto;
}

.partner-reasoning > .commision-matrix > h3{
	margin: 2% 0% 1% 0%;
}

.partner-reasoning > .commision-matrix > a{
	margin-top: 2%;
	font: 14px AdelleSansBold;
	padding: 1%;
	border-radius: 10px;
	width: 30%;
	border: solid 2px #31B6B8;
	display: inline-block;
	transition: .4s;
	background-color: #fff;
	text-decoration: none;
	color: #000;
}

.partner-reasoning > .commision-matrix > a:hover, .partner-steps > a:hover{
	background-color: #31B6B8;
	color: #fff;
}

.teaser-partner-page > .partner-steps{
	padding: 4% 15%;
	text-align: center;
}

.partner-steps > h2{
	margin-bottom: 3%;
}

.partner-steps > div{
	width: 18%;
	font: 16px AdelleSansBold;
	margin: 0% 3%;
	display: inline-block;
	vertical-align: top;
}

.partner-steps > div:nth-of-type(1) > var {
	width: 70px;
	height: 70px;
	background: url('../images/sprite.png') -155px 83px;
	display: block;
	margin: 10% auto;
}

.partner-steps > div:nth-of-type(2) > var {
	width: 60px;
	height: 70px;
	background: url('../images/sprite.png') -267px 168px;
	display: block;
	margin: 10% auto;
}

.partner-steps > div:nth-of-type(3) > var {
	width: 100px;
	height: 70px;
	background: url('../images/sprite.png') -236px 93px;
	display: block;
	margin: 10% auto;
}

.partner-steps > .arrow-img{
	width: 70px;
	height: 80px;
	background: url('../images/sprite.png') 345px -155px;
	display: inline-block;
	margin-top: 5%;
}

.partner-steps > a{
	margin-top: 2%;
	font: 14px AdelleSansBold;
	padding: 1%;
	border-radius: 10px;
	width: 30%;
	border: solid 2px #31B6B8;
	display: inline-block;
	transition: .4s;
	text-decoration:none;
	color: #000;
}

.partner-steps > .leaf-img{
	width: 70px;
	height: 90px;
	background: url('../images/sprite.png') 335px 90px;
	display: block;
	margin: 5% auto 0% auto;
}

.partner-steps > h3:nth-of-type(1){
	color: #666;
	width: 60%;
	margin: 5% auto 1% auto;
}

.partner-steps > h3:nth-of-type(2){
	color: #666;
	width: 60%;
	margin: 1% auto;
}

.teaser-aboutus-page > .teaser-header > .teaser-background-image{
	background: url('../images/banners/5.jpg') center no-repeat;
	background-size: cover;
}

.teaser-aboutus-page > .teaser-header > .wrapper{
	width: 90%;
}

.teaser-aboutus-page > .teaser-header > .wrapper > h3{
	margin: 3% 0% 10% 7%;
	font: 30px Adelle;
}

.teaser-aboutus-page > .investor-question > span{
	font: 22px Adelle;
	line-height: 300%;
	color: #666;
	display: block;
	margin-bottom: 5%;
}

.teaser-aboutus-page > .investor-details > a{
	width: 20%;
	margin: 0% auto;
    text-align: center;
}

.teaser-aboutus-page > .team{
	padding: 3% 5%;
	text-align: center;	
}

.teaser-aboutus-page > .team > ul{
	width: 23%;
	display: inline-block;
	margin-top: 3%;
}

.teaser-aboutus-page > .team > ul >li:first-child > img{
	border-radius: 16px;
	border: solid 2px #ccc;
	width: 70%;
}

.teaser-interested-page > .teaser-header > .teaser-background-image, .teaser-help-page > .teaser-header > .teaser-background-image{
	position: fixed;
}

.teaser-interested-page > .teaser-header > h1, .teaser-help-page > .teaser-header > h1{
    padding: 16% 10% 2% 10%;
    color: #fff;
    text-align: center;
}

.teaser-interested-page > .teaser-header > .user-type, .teaser-help-page > .teaser-header > .user-type{
	padding: 0% 10% 3% 10%;
	color: #fff;
	text-align: center;
}

.teaser-interested-page > .teaser-header > .user-type > .wrapper{
	display: block;
	width: 30%;
	margin: 2% auto;
}

.teaser-interested-page > .teaser-header > .user-type > .wrapper:hover > label > h2{
	color: #31B6B8;
}

.teaser-interested-page > .teaser-header > .user-type > .wrapper > label{
	cursor: pointer;
}

.teaser-interested-page > .teaser-header > .user-type > .wrapper > label > input{
	width: 30px;
	height: 30px;
	cursor: pointer;
	float: left;
	margin: 2%;
}

.teaser-interested-page > .teaser-header > .user-type > .wrapper > label > h2{
	color: #AECA31;
	transition: .6s;
	text-align: left;
	margin-left: 15%;
}

.teaser-interested-page > .teaser-header > .user-type > h2{
	display: inline-block;
}

.teaser-interested-page > .teaser-header > .user-type > ul{
	display: none;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li, .teaser-help-page > .teaser-header > .user-type > ul > li{
	width: 100%;
	display: inline-block;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > h2{
	position: absolute;
    margin-left: 39%;
    margin-top: 3.3%;
    color: #fff;
    font: 18px AdelleSans;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > h3, .teaser-help-page > .teaser-header > .user-type > ul > li > h3{
	margin: 3% 0% 0% 25%;
	padding: 1% 0%;
	float: left;
	text-align: left;
	width: 20%;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > img, .teaser-help-page > .teaser-header > .user-type > ul > li > img{
	position: absolute;
	margin-left: 23%;
	margin-top: 3%;
	display: none;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > #phoneNumberTextBox{
	padding-left: 5%;
	width: 21%;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li:nth-child(2) > input{
	position: relative;
	z-index: 1;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li:nth-child(2) > ul{
	position: absolute;
	width: 30%;
	margin-left: 42.1%;
	margin-top: 6%;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 50%;
	background-color: #fff;
	color: #000;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li:nth-child(2) > ul > li:first-child{
	border-top: solid 3px #AECA31;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li:nth-child(2) > ul > li{
	text-align: left;
	padding: 3% 5%;
	border:solid 3px #AECA31;
	border-top-width: 1px;
	border-bottom: none;
	cursor: pointer;
	font: 16px AdelleSans;
	transition: .3s;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li:nth-child(2) > ul > li:last-child{
	border-bottom: solid 3px #AECA31;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li:nth-child(2) > ul > li:hover{
	background-color: #AECA31;
	color: #fff;
}

.teaser-help-page > .teaser-header > .user-type > ul > li > .textbox-long{
	width: 48%;
	margin-top: 0%;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > input, 
.teaser-interested-page > .teaser-header > .user-type > ul > li > select, 
.teaser-help-page > .teaser-header > .user-type > ul > li > input, 
.teaser-help-page > .teaser-header > .user-type > ul > li > textarea{
	font: 18px AdelleSans;
	padding: 1%;
	float: right;
	margin: 3% 25% 0% 0%;
	width: 25%;
	letter-spacing: 1px;
	background: transparent;
	color: #fff;
	border-radius: 5px;
	border: solid 1px #AECA31;
	box-shadow: 0px 0px 3px 1px #AECA31;
}

.teaser-interested-page ::-webkit-input-placeholder{
	color: #bbb;
}

.teaser-interested-page ::-moz-placeholder{
	color: #bbb;
}

.teaser-interested-page :-moz-placeholder{
	color: #bbb;
}

.teaser-interested-page :-ms-input-placeholder{
	color: #bbb;
}

.teaser-help-page ::-webkit-input-placeholder{
	color: #bbb;
}

.teaser-help-page ::-moz-placeholder{
	color: #bbb;
}

.teaser-help-page :-moz-placeholder{
	color: #bbb;
}

.teaser-help-page :-ms-input-placeholder{
	color: #bbb;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > select{
	width: 27.35%;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > select > option{
	color:#000;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > label{
	float: left;
	margin: 3% 0% 0% 25%;
	width: 55%;
	cursor: pointer;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > label > input{
	float: left;
	width: 25px;
	height: 25px;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > label > h3{
	float: left;
	padding: 1%;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > label > h4{
	float: left;
	text-align: left;
	color: #fff;
	margin-top: 1%;
	font-size: 16px;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li:first-child > span{
	margin-right: 25%;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > span{
	font: 18px AdelleSans;
	padding: 1%;
	float: right;
	margin: 3% 32% 0% 0%;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > span > label{
	display: inline-block;
	margin-right: 15px;
	cursor: pointer;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > span > label > input{
	display: inline-block;
	width: 20px;
	height: 20px;
}

.teaser-interested-page > .teaser-header > .user-type > ul > li > span > label > h3{
	display: inline-block;
}

.teaser-interested-page > .teaser-header > .user-type > input, .teaser-help-page > .teaser-header > .user-type > input{
	margin: 4% 0% 2% 0%;
	padding: 2%;
	background-color: #AECA31;
	color: #fff;
	border: none;
	border-radius: 10px;
	transition: .4s;
	cursor: pointer;
	font: 20px Adelle;
	letter-spacing: 2px;
	display: none;
}

.teaser-help-page > .teaser-header > .user-type > input{
	display: inline-block;
	padding: 1% 3%;
	border-radius: 5px;
}

.teaser-interested-page > .teaser-header > .user-type > input:hover, .teaser-help-page > .teaser-header > .user-type > input:hover{
	background-color: #31B6B8;
}

.teaser-terms-page > .teaser-header > a > .logo{
	-webkit-filter: none;
	filter: none;
}

.teaser-terms-page > article{
	padding: 5%;
}

.teaser-terms-page > #privacyPolicy{
	padding-top: 18%;
}

.teaser-terms-page > article > h2{
	font-size: 26px;  
}

.teaser-terms-page > article > h3{
	font-size: 16px; 
	text-align: justify;
}

.teaser-maintenance-page > .teaser-header > h1, .teaser-success-page > .teaser-header > h1{
    padding: 20% 10% 2% 10%;
    color: #fff;
    text-align: center;
}

.teaser-success-page > .teaser-header > .teaser-success-background-image{
	width: 100%;
	height: 100%;
	background: url('../images/banners/hand-shake.jpg') center no-repeat;
    transition: 1.5s;
    background-size: cover;
    position: absolute;
	top: 0px;
	z-index: -1;
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
}

.teaser-success-page > .teaser-header > h1{
	-webkit-filter: drop-shadow(0px 0px 2px #333);
	filter: drop-shadow(0px 0px 2px #333);
}

.teaser-maintenance-page .teaser-footer, .teaser-success-page .teaser-footer{
	margin-top: 5%;
}

#slider1_container{
	opacity: 0;
	background-size: cover;
	z-index: -1;
	position: fixed !important;
}

#slider1_container img{
	width: 100%;
	height: 100%;
	-webkit-filter: brightness(70%);
	filter: brightness(70%);
}

.logo-leaf{
	transform: rotate(0deg);
	position: fixed;
	right: 1%;
	bottom: 0%;
	width: 15%;
	height: 37%;
	z-index: 1;
	cursor: pointer;
	background-size: 100%;
	background-repeat: no-repeat;
}

.teaser-borrower-page .logo-leaf{
	background-image: url('../images/logo-leaf-borrow.png');
}

.teaser-investor-page .logo-leaf{
	background-image: url('../images/logo-leaf-invest.png');
}

.teaser-partner-page .logo-leaf{
	background-image: url('../images/logo-leaf-register.png');
	bottom: 25%;
}