html,body{
    overflow: hidden;
    font-family: "ProximaNova-Regular";
    touch-action: manipulation;
}
.container {
    position: absolute;
    top:0;
    left:0;    
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index:5;
}
img, h2, div{    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
    
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
a{
    text-decoration: none;
    color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
@font-face {
    font-family: "ProximaNova-Regular";
    src: url('ProximaNova-Regular-url') format('woff');
}
#loading{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    background: #fff;
    width: 150px;
    padding: 15px 20px;
    margin: 0 auto;
    display:none;
}
.ui-conatiner{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
#case-layer, #strap-layer{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#case-layer{
    left:0;
}
#strap-layer{
    right: 0;
}
.case-btn, .strap-btn{
    pointer-events: auto;
    cursor: pointer;
    margin: 1rem;
    width: 20px;
    height: 20px;
    position: relative;
}
.case-btn img, .strap-btn img{
    width:10px;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.case-btn .text, .strap-btn .text{
    opacity:0;
    font-size: 15px;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    color: #777777;
    font-weight: lighter;
    position: absolute;
    top: 50%;
     transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.case-btn .text{    
    margin-left: 10px;
    left:100%;
}
.strap-btn .text{
    margin-right: 10px;
    right:100%;
}
.case-btn:hover img, .strap-btn:hover img{    
    width:13px;
}
.case-btn:hover .text, .strap-btn:hover .text{  
    opacity:1;
}
#engrave-layer{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1rem;    
}
#engrave-btn{
    cursor: pointer;
    pointer-events: auto;
    float: right;
}
#engrave-btn>img{
    width:64px;
}
#engrave-layer>#engrave-btn>img:nth-child(1),#engrave-layer.active>#engrave-btn>img:nth-child(2), #engrave-layer.active .engrave-popup-layer{
    display:block;    
}
#engrave-layer.active>#engrave-btn>img:nth-child(1), #engrave-layer>#engrave-btn>img:nth-child(2), .engrave-popup-layer{
    display:none;
}
.engrave-popup-layer{
    pointer-events: none;
    max-width: 500px;
    width:100%;
}
.engrave-popup-layer>img{
    width:100%;
    border: 1px solid #000;
}

@media only screen and (max-width: 1024px) {
    
}
@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 440px) {
    /*#case-layer{
        top:98%;
        left:50%;
        transform: translate(-50%, -100%);
        -moz-transform: translate(-50%, -100%);
        -webkit-transform: translate(-50%, -100%);
    }
    #strap-layer{
        top:2%;
        right:50%;
        transform: translateX(50%);
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
    }
    .strap-btn .text{
        left:100%;
        margin:0;
        margin-left: 10px;
    }
    .case-btn, .strap-btn{
        margin: 5px;
        width: 30px;
        height: 30px;
        justify-content: center;*/
    }
}
@media only screen and (max-height: 440px) {

}
@media only screen and (max-width: 360px) {

}